<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Matt Dobie | Timestamp Microservice</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i">
  <link rel="stylesheet" href="/style.min.css">
</head>
<body>
  <div class="container">
    <h1 class="header top-margin">Timestamp Microservice</h1>
    <h2>A freeCodeCamp API project</h2>
    <blockquote class="blockquote top-margin">
      User stories:
      <ul>1) I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016)</ul>
      <ul>2) If it does, it returns both the Unix timestamp and the natural language form of that date.</ul>
      <ul>3) If it does not contain a date or Unix timestamp, it returns null for those properties.</ul>
    </blockquote>
    <h3 class="top-margin">Example usage:</h3>
    <code>
      <a href="/October%2004,%202017" target="_blank">https://fcc-timestamp-md.glitch.me/October%2004,%202017<br></a>
    </code>
    <code>
      <a href="/1507075200" target="_blank">https://fcc-timestamp-md.glitch.me/1507075200</a>
    </code>
    <h3 class="top-margin">Example output:</h3>
    <code>
      {
        "unix": 1507075200,
        "natural": "October 4, 2017"
      }
    </code>
  </div>
  <footer class="text-center">
    <p>Written and coded by <a href="http://mattdobie.com" target="_blank">Matt Dobie</a></p>
  </footer>
</body>
</html>